body {
    background-image: url(file:///C:/Users/4070786/Downloads/istockphoto-880710798-612x612.jpg);
}
h1,h2 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: deeppink;
}
.menu {
    background-color: rgb(255, 200, 221);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
}
hr {
    height: 3px;
    color: rgb(109, 160, 255);
    background-color: rgb(109, 160, 255);
    border-color: rgb(109,160,255);
}
.item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  .flavor {
    text-align: left;
    width: 75%;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .price {
    text-align: right;
    width: 25%;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  a {
    text-align: center;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }
  a:hover {
    color: deeppink;
  }
  .link {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
  }